# Framework principal
Flask==3.1.2
gunicorn==24.1.1

Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0

# Sessões (Para LER a sessão criada pelo users-service)
Flask-Session==0.8.0
redis==7.1.0

# Para fazer a chamada de API interna para o users-service
requests==2.32.5

# Para imagem
Pillow==12.1.0

# Conector do Banco e Variáveis de Ambiente
PyMySQL==1.1.2
python-dotenv==1.2.1